{
  "presets": [
    ["@babel/preset-react", { "runtime": "automatic" }],
    ["@babel/preset-env", { "targets": { "node": true, "esmodules": true } }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript", { "allowDeclareFields": true, "legacy": true }],
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
